@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
  }
  .ExContainer{
    width: 90vw;
    margin: auto;
    margin-top: 15vh;
  }
  .ExContainer h1{
    margin: auto;
    width: 40vw;
    border-bottom: 1vh solid pink;
    text-align: center;
  }